html {
  box-sizing: border-box;
  font-size: 10px;

	@include laptop {
		font-size: calc(100vw / 1024 * 10);
	}

	@include tablet-l {
		font-size: 10px;
	}

	@include tablet-s {
		font-size: calc(100vw / 375 * 10);
	}

	@include mobile {
		font-size: 10px;
	}
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.1;
	background-color: var(--colors-card-bg);
	color: var(--colors-black-100);

	@include laptop {
		font-size: 1.4rem;
	}
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.container {
	width: 100%;
	max-width: 135rem;
	margin: 0 auto;
	padding: 0 1.5rem;

	@include laptop {
		max-width: 99rem;
	}

	@include tablet-l {
		max-width: 71rem;
	}
}

.title {
	font-weight: 600;

	&--h1 {
		font-size: 5.6rem;
		line-height: 1;

		@include laptop {
			font-size: 4.8rem;
		}

		@include tablet-s {
			font-size: 3.2rem;
		}
	}

	&--h3 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 4.8rem;

		@include laptop {
			font-size: 3.2rem;
			line-height: 3.8rem;
		}

		@include tablet-s {
			font-size: 2.4rem;
			line-height: 2.9rem;
		}
	}

	&--h4 {
		font-size: 3.2rem;
		line-height: 3.8rem;

		@include laptop {
			font-size: 2.4rem;
			line-height: 2.9rem;
		}
	}
}